body {
  margin: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/fonts/BrandonGrotesque-Bold.eot');
  src:
    url('./assets/fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrandonGrotesque-Bold.woff') format('woff'),
    url('./assets/fonts/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1,
h2 {
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  color: #4D4A6A;
  margin-bottom: 0;
}

.sides {
  width: 90vw;
  margin: 0 auto;
}

.container {
  width: 100vw;
  display: block;
}

@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 61.8% 1fr;
  }
}

.subContainer {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .subContainer {
    height: 100vh;
  }
}

.containerPadding {
  padding: 0 2rem;
}

.scenic {
  display: none;
  grid-area: scenic;
  background-image: url('./assets/hills.png'), linear-gradient(#90B5ED 20vh, #FEC08A 80vh);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 992px) {
  .scenic {
    display: block;
  }
}

.scenicContainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. scenicNav .'
    '. scenicContent .'
    '. scenicButton .';
}

.scenicNav {
  padding-top: 3rem;
  display: grid;
  grid-template-areas: '. navLogo .';
  grid-area: scenicNav;
}

.scenicLogo {
  grid-area: navLogo;
  display: flex;
  justify-content: center;
}

.scenicLogo img {
  display: block;
  width: auto;
  max-width: none;
  height: 8rem;
}

@media screen and (min-width: 992px) {
  .sh {
    display: none;
  }
}

.scenicContent {
  grid-area: scenicContent;
  display: flex;
  margin-top: 7vh;
  align-items: center;
  flex-direction: column;
}

.scenicTheme {
  display: flex;
  justify-content: center;
}

.scenicTheme img {
  display: block;
  width: auto;
  max-width: none;
  height: 9rem;
}

@media screen and (min-width: 992px) {
  .sides {
    width: 61.8vw;
  }
}
